URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.scrollBar: false
/*URxvt.transparent: true*/
/*URxvt.shading: 20*/
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0200/c800


urxvt*perl-lib:         /usr/lib/urxvt/perl/

URxvt*font: xft:DejaVu Sans Mono:size=12,xft:FontAwesome:style=Regular,xft:Siji:style=Regular
URxvt.letterSpace: -1
!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3



/*Perl extensions*/
URxvt.perl-ext-common: matcher,resize-font,clipboard,url-select

/*Url select*/
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: brave
URxvt.url-select.underline: true

/*Matcher*/
URxvt.url-launcher: brave
URxvt.matcher.button: 1


/*Clipboard*/
URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
